---
  - hosts: 127.0.0.1
    connection: local
    become: true
    become_user: root

  - name: Importing DEVELOPER playbook for macOS 12
    import_playbook: macos/developer.yml
    when: ansible_distribution_version | regex_search('^(12.[0-9]+)') and userType == "developer"

  - name: Importing ANALYST playbook for macOS 12
    import_playbook: macos/analyst.yml
    when: ansible_distribution_version | regex_search('^(12.[0-9]+)') and userType == "analyst"
  
  - name: Importing DESIGNER playbook for macOS 12
    import_playbook: macos/designer.yml
    when: ansible_distribution_version | regex_search('^(12.[0-9]+)') and userType == "designer"
  
  - name: Importing IT playbook for macOS 12
    import_playbook: macos/it.yml
    when: ansible_distribution_version | regex_search('^(12.[0-9]+)') and userType == "it"

  - name: Message for macOS <= 12.x
    ansible.builtin.debug:
        msg: Ansible playbook run only MacOS >= 12.x
    when: ansible_distribution_version | regex_search('^(11.[0-9]+)')

